@import "../../abstracts/_variables.scss";
@import "../../abstracts/_mixins.scss";
@import "../../abstracts/_functions.scss";
@import "../../components/_carousel.scss";

.top-links {
    a {
        color: $color-text-light;
        text-decoration: none;
        font-weight: 400;
        padding-right: $padding-l;
    }

    @include for-tablet-down {
        position: absolute;
        width: 100%;

        &:not(.active) {

            a:not(:first-of-type) {
                display: none;
            }
        }

        &.active {
            .row {
                width: 100%;
            }

            a {
                display: block;
                line-height: 32px;
            }

            div span {
                transform: rotate(90deg);
            }
        }

        div {
            display: inline-block;
        }
    }
}

.full-image {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.logo-wrapper {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 82.88 15.35'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%2300163f%3b%7d%3c/style%3e%3c/defs%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3cpolygon class='cls-1' points='9.2 14.94 10.63 13.51 3.77 6.65 9 1.43 7.57 0 2.02 5.54 2.02 0 0 0 0 12.86 2.02 12.86 2.02 8.4 2.34 8.09 9.2 14.94'/%3e%3cpath class='cls-1' d='M30.21%2c2.94l-2%2c.52v4.8L24.48%2c4.48l-2%2c.54v7.84h2V7.36L28%2c10.89l.83-.24a2%2c2%2c0%2c0%2c0%2c1.42-1.88l0-3.47%2c4.81%2c2.78%2c1-1.75Z'/%3e%3cpath class='cls-1' d='M48.45%2c5.79a6.66%2c6.66%2c0%2c0%2c0-1.39-2L45.65%2c5.17A4.55%2c4.55%2c0%2c0%2c1%2c47%2c8.41v4.41h2V9.68a4.58%2c4.58%2c0%2c0%2c1%2c4.57-4.35v-2A6.54%2c6.54%2c0%2c0%2c0%2c48.45%2c5.79Z'/%3e%3cpath class='cls-1' d='M44.05%2c7a2.56%2c2.56%2c0%2c0%2c0%2c0-2.2%2c2.59%2c2.59%2c0%2c0%2c0-3.11-1.26h0a5%2c5%2c0%2c0%2c0%2c1.34%2c9.82%2c4.91%2c4.91%2c0%2c0%2c0%2c1.3-.18L43%2c11.23A3%2c3%2c0%2c0%2c1%2c39.69%2c10a6.83%2c6.83%2c0%2c0%2c0%2c3.5-1.81A3.89%2c3.89%2c0%2c0%2c0%2c44.05%2c7Zm-1.83-.82a1.93%2c1.93%2c0%2c0%2c1-.43.57A4.75%2c4.75%2c0%2c0%2c1%2c39.23%2c8a3%2c3%2c0%2c0%2c1%2c2.2-2.57h0a.61.61%2c0%2c0%2c1%2c.8.26A.62.62%2c0%2c0%2c1%2c42.22%2c6.15Z'/%3e%3cpath class='cls-1' d='M20.81%2c11.41a4.55%2c4.55%2c0%2c0%2c1-1.19-2.1V8h0a5.8%2c5.8%2c0%2c0%2c0-.18-1.23A5.53%2c5.53%2c0%2c0%2c0%2c16.85%2c3.4a5.46%2c5.46%2c0%2c0%2c0-4.2-.54l.52%2c1.93a3.49%2c3.49%2c0%2c0%2c1%2c2.68.35%2c3.41%2c3.41%2c0%2c0%2c1%2c1.3%2c1.31%2c7.63%2c7.63%2c0%2c0%2c0-4.08%2c2%2c4.3%2c4.3%2c0%2c0%2c0-.94%2c1.3%2c2.71%2c2.71%2c0%2c0%2c0%2c2.49%2c3.87%2c3.33%2c3.33%2c0%2c0%2c0%2c.91-.13h0a5.5%2c5.5%2c0%2c0%2c0%2c2.87-1.92%2c6.64%2c6.64%2c0%2c0%2c0%2c1%2c1.23Zm-5.8.18h0a.75.75%2c0%2c0%2c1-1-1%2c2.4%2c2.4%2c0%2c0%2c1%2c.53-.69A5.51%2c5.51%2c0%2c0%2c1%2c17.61%2c8.4%2c3.52%2c3.52%2c0%2c0%2c1%2c15%2c11.59Z'/%3e%3cpath class='cls-1' d='M82.88%2c13.51l-2.54-3a2.22%2c2.22%2c0%2c0%2c1-.25-.35%2c4.54%2c4.54%2c0%2c0%2c1-.6-2.25l0-.49%2c2.62-.7-.52-2-2.1.56V1.11h-2V5.84l-2.14.57.53%2c2%2c1.62-.44a6.58%2c6.58%2c0%2c0%2c0%2c1.06%2c3.53l.16.23%2c2.62%2c3.12Z'/%3e%3cpath class='cls-1' d='M73.77%2c7a2.54%2c2.54%2c0%2c0%2c0-3.15-3.46h0a5%2c5%2c0%2c0%2c0%2c1.33%2c9.82%2c4.87%2c4.87%2c0%2c0%2c0%2c1.31-.18l-.52-1.93a3%2c3%2c0%2c0%2c1-2.28-.3%2c3%2c3%2c0%2c0%2c1-1-1%2c6.8%2c6.8%2c0%2c0%2c0%2c3.49-1.81A3.89%2c3.89%2c0%2c0%2c0%2c73.77%2c7Zm-1.83-.82a2%2c2%2c0%2c0%2c1-.44.57A4.69%2c4.69%2c0%2c0%2c1%2c69%2c8.05a2.93%2c2.93%2c0%2c0%2c1%2c.38-1.17%2c3%2c3%2c0%2c0%2c1%2c1.82-1.4h0a.62.62%2c0%2c0%2c1%2c.8.26A.62.62%2c0%2c0%2c1%2c71.94%2c6.19Z'/%3e%3cpath class='cls-1' d='M57.2%2c7.58l5.11%2c5.11h.78a1.84%2c1.84%2c0%2c0%2c0%2c1.84-1.85v-8l-2.16.65v6.65L57.72%2c5l-2.32.63-2.47%2c9.14%2c2.17.59Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") no-repeat;
        -webkit-mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 82.88 15.35'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%2300163f%3b%7d%3c/style%3e%3c/defs%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3cpolygon class='cls-1' points='9.2 14.94 10.63 13.51 3.77 6.65 9 1.43 7.57 0 2.02 5.54 2.02 0 0 0 0 12.86 2.02 12.86 2.02 8.4 2.34 8.09 9.2 14.94'/%3e%3cpath class='cls-1' d='M30.21%2c2.94l-2%2c.52v4.8L24.48%2c4.48l-2%2c.54v7.84h2V7.36L28%2c10.89l.83-.24a2%2c2%2c0%2c0%2c0%2c1.42-1.88l0-3.47%2c4.81%2c2.78%2c1-1.75Z'/%3e%3cpath class='cls-1' d='M48.45%2c5.79a6.66%2c6.66%2c0%2c0%2c0-1.39-2L45.65%2c5.17A4.55%2c4.55%2c0%2c0%2c1%2c47%2c8.41v4.41h2V9.68a4.58%2c4.58%2c0%2c0%2c1%2c4.57-4.35v-2A6.54%2c6.54%2c0%2c0%2c0%2c48.45%2c5.79Z'/%3e%3cpath class='cls-1' d='M44.05%2c7a2.56%2c2.56%2c0%2c0%2c0%2c0-2.2%2c2.59%2c2.59%2c0%2c0%2c0-3.11-1.26h0a5%2c5%2c0%2c0%2c0%2c1.34%2c9.82%2c4.91%2c4.91%2c0%2c0%2c0%2c1.3-.18L43%2c11.23A3%2c3%2c0%2c0%2c1%2c39.69%2c10a6.83%2c6.83%2c0%2c0%2c0%2c3.5-1.81A3.89%2c3.89%2c0%2c0%2c0%2c44.05%2c7Zm-1.83-.82a1.93%2c1.93%2c0%2c0%2c1-.43.57A4.75%2c4.75%2c0%2c0%2c1%2c39.23%2c8a3%2c3%2c0%2c0%2c1%2c2.2-2.57h0a.61.61%2c0%2c0%2c1%2c.8.26A.62.62%2c0%2c0%2c1%2c42.22%2c6.15Z'/%3e%3cpath class='cls-1' d='M20.81%2c11.41a4.55%2c4.55%2c0%2c0%2c1-1.19-2.1V8h0a5.8%2c5.8%2c0%2c0%2c0-.18-1.23A5.53%2c5.53%2c0%2c0%2c0%2c16.85%2c3.4a5.46%2c5.46%2c0%2c0%2c0-4.2-.54l.52%2c1.93a3.49%2c3.49%2c0%2c0%2c1%2c2.68.35%2c3.41%2c3.41%2c0%2c0%2c1%2c1.3%2c1.31%2c7.63%2c7.63%2c0%2c0%2c0-4.08%2c2%2c4.3%2c4.3%2c0%2c0%2c0-.94%2c1.3%2c2.71%2c2.71%2c0%2c0%2c0%2c2.49%2c3.87%2c3.33%2c3.33%2c0%2c0%2c0%2c.91-.13h0a5.5%2c5.5%2c0%2c0%2c0%2c2.87-1.92%2c6.64%2c6.64%2c0%2c0%2c0%2c1%2c1.23Zm-5.8.18h0a.75.75%2c0%2c0%2c1-1-1%2c2.4%2c2.4%2c0%2c0%2c1%2c.53-.69A5.51%2c5.51%2c0%2c0%2c1%2c17.61%2c8.4%2c3.52%2c3.52%2c0%2c0%2c1%2c15%2c11.59Z'/%3e%3cpath class='cls-1' d='M82.88%2c13.51l-2.54-3a2.22%2c2.22%2c0%2c0%2c1-.25-.35%2c4.54%2c4.54%2c0%2c0%2c1-.6-2.25l0-.49%2c2.62-.7-.52-2-2.1.56V1.11h-2V5.84l-2.14.57.53%2c2%2c1.62-.44a6.58%2c6.58%2c0%2c0%2c0%2c1.06%2c3.53l.16.23%2c2.62%2c3.12Z'/%3e%3cpath class='cls-1' d='M73.77%2c7a2.54%2c2.54%2c0%2c0%2c0-3.15-3.46h0a5%2c5%2c0%2c0%2c0%2c1.33%2c9.82%2c4.87%2c4.87%2c0%2c0%2c0%2c1.31-.18l-.52-1.93a3%2c3%2c0%2c0%2c1-2.28-.3%2c3%2c3%2c0%2c0%2c1-1-1%2c6.8%2c6.8%2c0%2c0%2c0%2c3.49-1.81A3.89%2c3.89%2c0%2c0%2c0%2c73.77%2c7Zm-1.83-.82a2%2c2%2c0%2c0%2c1-.44.57A4.69%2c4.69%2c0%2c0%2c1%2c69%2c8.05a2.93%2c2.93%2c0%2c0%2c1%2c.38-1.17%2c3%2c3%2c0%2c0%2c1%2c1.82-1.4h0a.62.62%2c0%2c0%2c1%2c.8.26A.62.62%2c0%2c0%2c1%2c71.94%2c6.19Z'/%3e%3cpath class='cls-1' d='M57.2%2c7.58l5.11%2c5.11h.78a1.84%2c1.84%2c0%2c0%2c0%2c1.84-1.85v-8l-2.16.65v6.65L57.72%2c5l-2.32.63-2.47%2c9.14%2c2.17.59Z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") no-repeat;
        background-color: #fff;
    }

    &::after {
        display: block;
        content: '';
        padding-bottom: 18.3%;
    }
}

.logo-card {
    margin: $spacing-m 0;
}


.owl-carousel {
    min-height: 160px;

    .owl-nav {
        top: 44%;

        .owl-prev, .owl-next {
            background-color: #FFF !important;
            box-shadow: 0px 0px 15px rgba(0, 22, 63, 0.15);
        }
    }

    .card--large {
        height: inherit;
    }

    .owl-stage {
        display: flex;

        .grid-item {
            display: block;
            height: 100%;
        }
    }
}

.team-card {
    line-height: 28px;
}

#tips-cards, #tenants-landlords-cards {
    .card--large {
        height: 100%;
        display: flex;
        flex-direction: column;

        .section-subtitle {
            margin-bottom: 8px;
        }

        .card__footer {
            margin-top: auto;
        }
    }
}

#partners {
    @include for-tablet-down {
        #partners-icons {
            .aspect-ratio-box {
                margin-top: 16px;
            }
        }

        .owl-stage-outer {
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden !important;

            .owl-nav {
                top: 72px;
            }
        }
    }

    @include for-tablet-only {
        #partners-icons {
            .owl-stage-outer {
                overflow-x: visible;
            }
        }
    }

    .aspect-ratio-box {
        min-width: 64px;
    }

    img {
        object-fit: contain;
        padding: $padding-s;
    }
}

@include for-tablet-down {
    .owl-carousel {
        .grid-item, .card-city {
            min-width: 242px;
            width: 64.5vw;
            max-width: 300px;
        }

        .owl-stage-outer {
            overflow: visible !important;
        }
    }
}

@include for-mobile-only {
    .owl-carousel {
        .grid-item, .card-city {
            min-width: 220px;
        }
    }

    .padding-v--xl {
        padding-top: $spacing-l;
        padding-bottom: $spacing-l;
    }
}
