@import "../../abstracts/_variables.scss";
@import "../../abstracts/_mixins.scss";
@import "../../abstracts/_functions.scss";

@import "../../components/_carousel.scss";

#promo {
    /*#card {
        .grid {
            grid-template-columns: 30% 70%;

            @include for-mobile-only {
                display: block;

                .grid-item {
                    margin-top: 50%;
                }
            }
        }
    }*/
    .card--large {
        display: flex;
        flex-direction: column;

        .full-width--m-up {
            margin-top: auto;

            @include for-mobile-only {
                position: absolute;
                left: 0;
                bottom: -64px;

                a.btn-medium {
                    width: 100%;
                }
            }

            a.btn-medium {
                margin-top: $spacing-s;
            }
        }
    }

    @include for-mobile-only {
        .grid-item:first-of-type .card--large {
            margin-bottom: 15%;
        }
    }
}

.card--background {
    /*background*/
    /*@include webp-background($img: 'redesign/pages/home/verhuren-op-kamernet');*/
    /*sh of the week*/
    /*@include webp-background($img: 'redesign/pages/home/sh_week/sh_banner', $repeat: repeat, $position:left, $size: auto 100%, $type:'.png');*/
}

.page-footer {
    li {
        a {
            display: block;
        }
    }
}


#landlord-cta {
    padding-top: $spacing-s;
}

#above-search {
    .card--large {
        height: auto;
    }
}

#types {
    font-size: 14px;

    .active {
        border-bottom: 2px solid $color-primary;
    }

    .grid-item {
        cursor: pointer;
    }
}
//end todo
@include for-tablet-down {
    body {
        overflow-x: hidden;
    }
}

@include for-mobile-only {
    /*#promo #card .grid .grid-item {
        margin-top: 50%;
    }*/
    #above-search {
        .section-title {
            background-color: transparent !important;
            color: $color-text !important;
            box-shadow: none !important;
            padding: 0 !important;
        }
    }
}

.search-wrapper {
    @include for-tablet-up {
        min-height: 420px;
        /*background*/
        @include background-image($img: 'redesign/pages/home/home_opent_deuren', $type: '.jpg');
        background-position-y: 15%;
    }
    /*padding: $spacing-xxl-2 0;*/
    opacity: 90%;
    padding: $spacing-xxl-1 0;

    @include for-mobile-only {
        a {
            display: block;
            text-align: center;
        }

        padding: $spacing-sm 0 !important;
        background-color: $color-secondary-light-3;
    }
}

.search-wrapper .tag {
    line-height: 1.33;
    padding: $spacing-m $spacing-l;

    &--info {
        font-size: 24px;
    }

    &--action {
        font-size: 18px;
        align-items: center;
    }
}

.last-search-wrapper {
    padding: 0 $spacing-sm;

    & .search-content {
        padding: $spacing-xxs $spacing-sm;
        @include fadeBackgroundColor($color-secondary, .75);
    }
}



#hiw, #testimonials {
    padding: $spacing-xxl-1 0;

    .owl-nav {
        top: 55%;
    }

    .card--large {
        height: inherit;
    }

    .owl-stage {
        display: flex;

        .grid-item {
            display: block;
            height: 100%;
        }
    }

    .card--large {
        background: $color-text-light;
        text-align: center;

        .card__head {
            @include for-desktop-s-up {
                padding: 0 $spacing-m;
            }

            @include for-tablet-down {
                padding: 0 15%;
            }

            @include for-mobile-only {
                padding: 0 $spacing-sm;
            }
        }

        @include for-tablet-down {
            padding: $spacing-s;
        }
    }
}

#testimonials {
    padding: $spacing-sm 0;

    .owl-nav {
        top: 44%;
    }

    .star-rating {
        justify-content: flex-end;
    }


    .card--large {
        text-align: left;
        min-height: 268px;
        position: relative;
    }

    .card__footer {
        position: absolute;
        bottom: 16px;
    }

    .tag {
        background: $color-text-light;
        font-size: 16px;
        display: flex;
        align-items: center;

        & .reviews {
            font-weight: 400;
            font-size: 14px;
            color: $color-secondary-light-1;
            padding: 0 8px;
        }

        & .logo-feedback {
            vertical-align: middle;
        }
    }

    & .card__footer img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }

    & .testimonial-customer {
        font-size: 14px;
        margin-left: 16px;
        margin-top: 20px;
    }

    & .testimonial-name {
        font-family: $font-poppins;
        font-weight: 700;
    }

    & .testimonial-role {
        font-weight: 400;
        color: $color-secondary-light-1;
    }
}

#products {
    padding: $spacing-xxl-1 0;

    #elbuco.card--large {
        /*background*/
        @include webp-background($img: 'redesign/pages/home/elbuco', $color: $color-primary);
        background-origin: content-box;
    }

    @include for-mobile-only {
        padding: $spacing-l $spacing-s;
        grid-row-gap: $spacing-sm;

        #elbuco.card--large {
            min-height: $spacing-xxl-2;

            .section-subtitle {
                width: 75%;
            }
        }
    }

    .card--large {
        min-height: 254px;

        @include for-desktop-s-down {
            min-height: 290px;
        }

        @include for-tablet-only {
            min-height: 188px;
        }

        @include for-mobile-only {
            min-height: unset;
        }
    }

    #promo-left {
        background-color: #cae1e9;
    }

    @media (min-width:1024px) {

        #promo-left.card--large {
            /*background*/
            @include webp-background($img: 'redesign/pages/home/promo-left', $color: #cae1e9, $size:55%);
            background-position-y: center;
            background-position-x: 100%;
        }
    }

    @media (max-width:1280px) {
        #promo-left.card--large {
            background-size: 66%;
        }
    }

    @media (min-width:1680px) {
        #promo-left.card--large {
            background-size: 45%;
        }
    }
}

@include for-tablet-down {

    #popular-cities,
    #hiw-cards,
    #testimonials-cards {
        .grid-item, .card-city {
            min-width: 242px;
            width: 64.5vw;
            max-width: 300px;
        }

        .owl-stage-outer {
            overflow: visible;

            picture * {
                text-indent: 10%;
            }
        }
    }

    #testimonials .star-rating {
        justify-content: flex-start;
    }
}

@include for-mobile-only {
    #popular-cities,
    #hiw-cards,
    #testimonials-cards {
        .grid-item, .card-city {
            min-width: 220px;
        }
    }
}

#bottomSection {
    grid-row-gap: $spacing-sm;

    @include for-mobile-only {
        background-color: $color-secondary-light-3;
    }
}

/* TEMPORARY CHANGES - TO BE REMOVED ONCE WE CHANGE THE LOGIN/REGISTRATION POPUP TO THE NEW ONE */
#login-form, #register-form {
    input[type=checkbox]:checked + label:before {
        background-color: $color-primary;
        border-radius: 2px;
        height: 18px;
        width: 18px;
    }

    input[type=checkbox]:checked + label::after {
        -webkit-mask: get-icon("check","color-primary-light-1");
        mask: get-icon("check","color-primary-light-1");
        -webkit-mask-size: contain;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        color: $color-text-light;
        background: $color-text-light;
        border-color: $color-text-light;
        content: '';
        line-height: 24px;
        border-radius: 2px;
        height: 12px;
        width: 12px;
        position: absolute;
        left: 3px;
        top: 6px;
    }
}
