/// Referencing files so intellisense would work correctly
/// <reference path="../abstracts/_variables.scss" />
/// <reference path="../abstracts/_functions.scss" />
/// <reference path="../abstracts/_mixins.scss" />
.owl-nav {
    width: 100%;
    position: absolute;
    top: 30%;

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .owl-prev, .owl-next {
        transition: opacity 300ms ease;

        &.disabled {
            opacity: 0;
        }

        background-color: rgba($color-text-light,0.5) !important;
        position: absolute;
        border-radius: 100%;
        width: $spacing-m;
        height: $spacing-m;
    }
}

.carousel {

    &-left,
    &-right {
        background: get-icon("chevron-right-thin", "color-secondary");
        position: relative;
        right: -1px;
    }

    &-left {
        left: -1px;
        transform: rotate(180deg);
    }
}


.carousel-card-padding.no-padding-left {
    .owl-stage {
        padding-left: 0 !important;
    }
}
