/// Referencing files so intellisense would work correctly
@import "../abstracts/_variables.scss";
@import "../abstracts/_functions.scss";
@import "../abstracts/_mixins.scss";

/* ICON SIZES*/
@mixin mixinIconDefault {
    -webkit-mask-size: cover;
    mask-size: cover;
    display: inline-block;
}

@mixin mixinIcon-s {
    width: $size-icon-s;
    height: $size-icon-s;
}

@mixin mixinIcon-sm {
    width: $size-icon-sm;
    height: $size-icon-sm;
}

@mixin mixinIcon-m {
    width: $size-icon-m;
    height: $size-icon-m;
}

@mixin mixinIcon-l {
    width: $size-icon-l;
    height: $size-icon-l;
}

@mixin mixinIcon-xl {
    width: $size-icon-xl;
    height: $size-icon-xl;
}

@mixin mixinIcon-s-fallback {
    background-size: $size-icon-s $size-icon-s !important;
}
@mixin mixinIcon-sm-fallback {
    background-size: $size-icon-sm $size-icon-sm !important;
}
@mixin mixinIcon-m-fallback {
    background-size: $size-icon-m $size-icon-m !important;
}

@mixin mixinIcon-l-fallback {
    background-size: $size-icon-l $size-icon-l !important;
}

@mixin mixinIcon-xl-fallback {
    background-size: $size-icon-xl $size-icon-xl !important;
}

/* SIZES */
i[class*="icon"] {
    display: inline-block;
}

.icon {
    &-s {
        @include mixinIcon-s;

        &.no-svg-fallback {
            @include mixinIcon-s-fallback;
        }
    }

    &-sm {
        @include mixinIcon-sm;

        &.no-svg-fallback {
            @include mixinIcon-sm-fallback;
        }
    }

    &-m {
        @include mixinIcon-m;

        &.no-svg-fallback {
            @include mixinIcon-m-fallback;
        }
    }

    &-l {
        @include mixinIcon-l;

        &.no-svg-fallback {
            @include mixinIcon-l-fallback;
        }
    }

    &-xl {
        @include mixinIcon-xl;

        &.no-svg-fallback {
            @include mixinIcon-xl-fallback;
        }
    }
}

/*.overlay-slash.no-svg-fallback.color-background-primary {
    background: str-replace(str-replace(map-get($icons,'overlay-slash'),'%23001542',$color-primary),'#','%23') no-repeat;
}*/
/*
    ICON STACK  
*/
.icon-stack {
    position: relative;

    i {
        position: absolute;
        top: 0;
    }

    i[class*="overlay"] ~ i {
        opacity: 0.5;
        z-index: -1;
    }

    @include clearfix;
}

/* SPACING */
.prepend-icon {
    margin-right: 4px;
}

.append-icon {
    margin-left: 4px;
}

@each $name, $svg in $icons {
    .#{$name} {
        mask: $svg;
        -webkit-mask: $svg;
        @include mixinIconDefault;
    }

    /*.#{$name}.no-svg-fallback {
        background: $svg no-repeat;
    }*/
}
