@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";
@import "../abstracts/_functions.scss";
@import "../components/_carousel.scss";


#title-card {
    .logo {
        width: 324px;
        height: 60px;
        background-color: $color-text-light;
    }
}
/*
#logo-transition {

    * {
        height: 64px;
    }

    #arrow {
        width: $spacing-l;
        margin: 0 $spacing-l;
    }

    @include for-tablet-down {
        align-items: center;

        #arrow {
            height: $spacing-xxl-1;
            transform: rotate(90deg);
        }

        flex-direction: column;

        * {
            width: 80%;
            height: auto;
        }
    }
}
*/
#transition-animation {
    width: 100%;
    object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.confetti-wrapper {
    position: absolute;
    left: 0;
    top: -#{$spacing-xxl-1};
    width: 100%;
    height: 100vh;

    .confetti::before {
        content: "";
        background: linear-gradient(0deg, rgba(255,255,255,1) 0, rgba(0,0,0,0) 100%);
        width: 100%;
        height: 50%;
        position: absolute;
    }

    .confetti {
        background-repeat: repeat;
        width: 100%;
        height: 50%;
        background-size: 50%;

        @include for-mobile-only {
            background-size: 200%;
            background-position-x: -#{$spacing-xxl-1};
        }
    }
}

#above-search {
    position: relative;
}
/***********************************/
/************** COLORS ************/
/**********************************/

.main-color-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-color-text {
    max-width: 50%;
    font-family: $font-poppins;
    font-weight: 600;
}

.color-grid {
    grid-column-gap: 0;
}

.color-cell-small {
    width: 25%;
    float: left;
}

.color-cell-small::after, .color-cell-medium::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.color-cell-medium {
    float: left;
    width: 50%;
}


#hiw {
    padding: $spacing-xl 0;
    position: relative;
}

#hiw {
    .owl-nav {
        top: 55%;
    }

    .owl-stage {
        display: flex;

        .grid-item {
            display: block;
            height: 100%;

            .card--large {
                height: inherit;
            }
        }
    }

    .card--large {
        background: $color-text-light;
        text-align: center;
        user-select:none;

        .card__head {
            @include for-desktop-s-up {
                padding: 0 $spacing-m;
            }

            @include for-desktop-l-up {
                padding: 0 $spacing-l;
            }

            @include for-tablet-down {
                padding: 0 15%;
            }

            @include for-mobile-only {
                padding: 0 $spacing-s;
            }
        }

        @include for-tablet-down {
            padding: $spacing-s;
        }
    }
}

@include for-mobile-only {
    padding: $spacing-l $spacing-s;
    grid-row-gap: $spacing-sm;

    #elbuco.card--large {
        min-height: $spacing-xxl-2;

        .section-subtitle {
            width: 75%;
        }
    }
}

#review-cards {
    @include for-tablet-down {
        .card__head {
            max-width: 220px - 48px;
        }
    }

    .card__body {
        font-family: "Poppins",sans-serif;
        font-weight: 700;
        width: 100%;
        bottom: 0;
        left: 0;

        &.init {
            padding: inherit;
            position: absolute;
        }
    }

    img {
        margin: 0;
    }
}

#promo-left {
    background-color: #cae1e9;
    min-height: 254px;

    @include for-desktop-s-down {
        min-height: 290px;
    }

    @include for-tablet-only {
        min-height: 188px;
    }

    @include for-mobile-only {
        min-height: unset;
        background-color: transparent !important;
    }
}

#title-card.card--background {
    @include webp-background-pseudo-before($img: 'redesign/pages/home/verhuren-op-kamernet',$position:0%);

    &::before {
        transform: scaleX(-1);
        background-size: 70%;
        border-radius: $spacing-m;

        @include for-mobile-only {
            background-size: 100%;
            border-radius: 0;
        }

        @include for-tablet-only {
            background-size: 100%;
            background-position-y: center;
        }
    }
}

#promo-left {
    background: #cae1e9 url("/content/images/redesign/pages/redesign_explanation/our_mission.png") no-repeat scroll center/cover;
    background-position-y: center;
}
/*
@media (max-width:1280px) {
    #promo-left.card--background {
        background-size: 66%;
    }
}

@media (max-width:1280px) {
    #promo-left.card--background {
        background-size: 66%;
    }
}


@media (min-width:1680px) {
    #promo-left.card--background {
        background-size: 45%;
    }
}*/


#hiw-cards, #review-cards {
    @include for-tablet-down {
        .grid-item {
            min-width: 220px;
        }

        .owl-stage-outer {
            overflow: visible;

            picture {
                text-align: center;
                line-height: $spacing-l;
            }
        }
    }

    @include for-mobile-only {
        .grid-item {
            width: 64.5vw;
            max-width: $spacing-xxl-1*3;
        }
    }
}

#bottomSection {
    grid-row-gap: $spacing-sm;

    @include for-mobile-only {
        background-color: $color-secondary-light-3;
    }
}

#most-searched-cities {
    padding-top: $spacing-xxl-1;
    padding-bottom: $spacing-s;
}
