@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";
@import "../layout/_forms.scss";
@import "../components/_carousel.scss";

.hljs, .code-previewer{
    background: #e9f4f4 !important;
}

code {
    font-size: 0.75em !important;
}
.color-blocks{
    text-indent:-9999px;
}
.code-previewer {
    max-width: 50%;
    position: fixed;
    right: $spacing-m;
    z-index: 10;
}

.page-title {
    background-color: $color-primary-dark !important;
    z-index: 9;
}

.header-html-code {
    background: #e9f4f4;
}