/// Referencing files so intellisense would work correctly
/// <reference path="./_variables.scss" />
/// <reference path="./_functions.scss" />
/// <reference path="./_mixins.scss" />
//-----------------------------------------------------------
//------------------- Brand colors --------------------------
//-----------------------------------------------------------
$kamernet-yellow-primary: #fad666;
$kamernet-yellow-light: #fae196;
$kamernet-yellow-light-2: #fcf4dd;
$kamernet-yellow-dark: #fab732;

$kamernet-green-primary: #37d39a;
$kamernet-green-light: #8ae6c4;
$kamernet-green-light-2: #dbfff2;
$kamernet-green-dark: #24b37e;

$kamernet-blue-primary: #00163f;
$kamernet-blue-light-1: #8ca5c1;
$kamernet-blue-light-2: #e9f4f4;
$kamernet-blue-light-3: #f3f9f9;
    
$kamernet-warning: #f98169;
$kamernet-warning-light: #f9a898;
$kamernet-warning-dark: #f95332;
//-----------------------------------------------------------
//------------------- Main colors ---------------------------
//-----------------------------------------------------------
$color-primary: #37d39a !default;
$color-primary-light-1: #8ae6c4 !default;
$color-primary-light-2: #dbfff2 !default;
$color-primary-dark: #24b37e !default;

$color-secondary: #00163f !default;
$color-secondary-light-1: #8ca5c1 !default;
$color-secondary-light-2: #e9f4f4 !default;
$color-secondary-light-3: #f3f9f9 !default;

$color-accent: #fad666 !default;
$color-accent-light-1: #fae196 !default;
$color-accent-light-2: #fcf4dd !default;
$color-accent-dark: #fab732 !default;

$color-text: $color-secondary !default;
$color-text-light: #fff !default;
$color-text-light-1: $color-secondary-light-1 !default;
$color-text-light-2: $color-secondary-light-2 !default;
$color-text-light-3: $color-secondary-light-3 !default;

$color-warning-text: #f98169 !default;
$color-warning-text-dark: #f95332 !default;
$color-warning-text-light: #f9a898 !default;
