
/* Custom */


/* Custom */

.rentok-video > ul {
  margin-bottom: 0;
  padding: 0;
}

.rentok-video > ul > li {
  margin-bottom: 12px;
  width: 400px;
  display: inline-block;
  margin-right: 12px;
  list-style: outside none none;
  line-height: 0;
}

.rentok-video > ul > li a {
  border: 3px solid #fff;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  min-width: 100%;
  min-height: 240px;
  background-image: url("../Images/rentok/rentok-video.png");
  /*background-image: linear-gradient(45deg, #65AFA7 48%, #377978 50%, #3E8280 55%, #236264 100%);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rentok-video > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.rentok-video > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.rentok-video > ul > li a:hover .rentok-video-poster > img {
  opacity: 1;
}

.rentok-video > ul > li a .rentok-video-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.rentok-video > ul > li a .rentok-video-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rentok-video > ul > li a:hover .rentok-video-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.rentok-video .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.rentok-video .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.rentok-video .justified-gallery > a:hover .rentok-video-poster > img {
  opacity: 1;
}

.rentok-video .justified-gallery > a .rentok-video-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.rentok-video .justified-gallery > a .rentok-video-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rentok-video .justified-gallery > a:hover .rentok-video-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.rentok-video .video .rentok-video-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.rentok-video.dark > ul > li a {
  border: 3px solid #04070a;
}

[canvas="container"] {
  background-color: white;
}

.sticky-header {
  margin-bottom: 64px !important;
}

.rent-ok {
  padding: 0 0 75px;
}

.rentok-logo {
  margin-top: 40px;
}

.rent-ok-summary-wrapper {
  margin: 40px 0;
  position: relative;
}

.rent-ok-summary-wrapper::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  margin-left: -8px;
  box-sizing: border-box;
  border: 8px solid black;
  border-color: #f3f9f9;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.rent-ok-summary {
  position: relative;
  box-sizing: border-box;
  background-color: #f3f9f9;
  border-radius: 4px;
  padding: 32px;
  line-height: 32px;
  overflow: hidden;
}

.user-choice {
  font-size: 40px;
  padding: 20px 0 40px;
}

.selection-buttons-desktop {
  margin-bottom: 40px;
}

.selection-buttons-desktop .btn {
  width: 100%;
  height: 68px;
  background-color: #f3f9f9;
  color: #00163f;
  line-height: 68px;
  font-size: 28px;
}

.selection-buttons-desktop .btn.active {
  background-color: #37d39a;
  color: #ffffff;
}

.rent-ok-numbers {
  margin-top: 120px;
}

.rent-ok-numbers .number-wrapper {
  position: relative;
}

.rent-ok-numbers .number {
  background-color: #f3f9f9;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  text-align: center;
  line-height: 88px;

  font-size: 32px;
  margin: 0 auto;
}

.rent-ok-numbers .number-vertical-connector {
  width: 8px;
  margin: 0 auto;
  background-color: #f3f9f9;
  height: 700px;
}

.rent-ok-numbers .number-horizontal-connector {
  height: 4px;
  width: 100%;
  background-color: #f3f9f9;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -50%;
  z-index: -1;
  transition: all 0.5s ease;
}

.rent-ok-numbers .number-horizontal-connector.invert-position {
  transform: translate(156px);
}

.rent-ok-box {
  width: 100%;
  border: 1px solid #f3f9f9;
  border-radius: 32px;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  padding: 32px;
}

.rent-ok-box.inactive {
  opacity: 0.3;
}

.rent-ok-box .section-title {
  font-size: 20px;
}

.rent-ok-box .horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: #f3f9f9;
  margin: 8px 0 16px;
}

.rent-ok-box .img-box {
  /*border: 2px solid #eaeaea;*/
  border-radius: 4px;
  margin: 20px;
  background-color: #f3f9f9;
}

.rent-ok-box img {
  margin: 20px 0;
  max-width: 100%;
  padding: 0 8px;
}

.selection-buttons-mobile .btn {
  width: 49%;
  background-color: #f3f9f9;
  color: #00163f;
}

.selection-buttons-mobile .btn.active {
  background-color: #37d39a;
  color: #ffffff;
}

.no-key-received {
  margin: 40px 0;
  padding: 40px;
  border-top: 1px solid #f3f9f9;
  border-bottom: 1px solid #f3f9f9;
}

.no-key-title {
  font-size: 24px;
  padding-bottom: 12px;
}

.no-key-content {
  font-size: 18px;
}

.tenant-box-1 .filler {
  height: 201px;
}

.tenant-box-2 .filler {
  height: 236px;
}

.tenant-box-3 .filler {
  height: 64px;
}
/**************************************************/
.buy-now-list h1 {
  padding: 0px 20px !important;
}

.buy-now-list p {
  font-size: 18px;
  line-height: 26px;
  padding: 0px 25px;
  max-width: 480px;
}

.buy-now.fist-content {
  max-width: 0px !important;
}

lock-and-key-image {
  padding-right: 10px;
}

.content h2 {
  font-size: 1.6rem !important;
}

.content.bottom-bar h2 {
  font-size: 1.6rem !important;
}

.buy-now-list .buy-now-image img {
  display: block;
  width: 250px;
  height: 250px;
}

.buy-now-list li {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.buy-now-list li.image-on-right {
  flex-direction: row-reverse;
}

.buy-now-list li:last-child {
  margin-bottom: 0;
}

.buy-now-list h2 {
  padding: 0px 25px;
}

.collapsible.frequently-question {
  margin: 0px 210px 0px 210px !important;
}

.frequently-question .collapsible-body {
  padding: 32px;
}

.frequently-question .subheader {
  font-family: "Roboto Bold";
}
.frequently-question .collapsible-body .header {
  font-family: "Open Sans";
  font-weight: normal;
}

.frequently-question .collapsible-body div,
.frequently-question .collapsible-body ul {
  text-align: left;
}

.frequently-question .collapsible-body ul li {
  list-style-type: disc;
}

.frequently-question .collapsible-body ul {
  padding: 20px 32px;
}

.sticky-header {
  margin-bottom: 54px !important;
}

.fist-content p {
  max-width: 740px !important;
}

@media only screen and (min-width: 1700px) {
  .container {
    width: 100vw !important;
  }
}

@media only screen and (max-width: 1400px) {
  .collapsible.frequently-question {
    margin: 0.5rem 100px 1rem 100px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .tenant-box-1 .filler,
  .tenant-box-2 .filler,
  .tenant-box-3 .filler {
    height: 20px;
  }

  .buy-now-list .image img {
    max-width: 230px !important;
  }

  .collapsible.frequently-question {
    margin: 0.5rem 115px 1rem 115px !important;
  }
}

@media only screen and (max-width: 960px) {
  .buy-now-list buy-now-image img {
    width: 250px;
    height: 250px;
    margin-right: 50px !important;
    border-radius: 50%;
  }

  .buy-now-list li {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .buy-now-list .content {
    max-width: 460px;
    margin-left: 20px;
  }

  .buy-now-list h1 {
    text-align: center;
  }

  .buy-now-list h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
  }

  .buy-now-list p {
    padding: 0px 18px 0px;
    text-align: center;
  }

  .collapsible.frequently-question {
    margin: 0.5rem 15px 1rem 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .buy-now {
    margin: 0;
    padding: 0 11px 30px;
  }

  .buy-now-list .buy-now-image img {
    width: 200px;
    height: 200px;
  }

  .buy-now-list h2 {
    font-weight: 600;
    font-size: 1.6rem;
  }

  .rentok-video > ul {
    margin-top: 20px;
  }

  .rentok-video > ul > li {
    width: 100% !important;
    margin-right: 0 !important;
  }

  .rent-ok-box {
    padding: 32px 20px;
  }

  .rent-ok-box img {
    margin: 20px;
    object-fit: contain;
    width: 87%;
  }

  .rentok-logo img {
    width: 100%;
  }

  .rent-ok-summary-wrapper {
    margin: 40px 0 20px;
  }

  .rent-ok-summary {
    padding: 20px;
    line-height: 28px;
  }

  .collapsible.frequently-question {
    margin: 0 !important;
  }

  .frequently-question .collapsible-body {
    padding: 16px;
  }
}

@media only screen and (max-width: 375px) {
  #buy-now-container {
    background-color: white;
  }

  .buy-now-list h1 {
    padding: 0px 0px !important;
  }

  .buy-now-list h2 {
    font-weight: 600 !important;
  }

  .buy-now-list .lock-and-key-image img {
    padding: 0px 0px 0px 10px;
  }

  .rentok-video > ul > li a {
    min-height: 152px !important;
  }
}

@media screen and (max-width: 601px) {
  h2 {
    margin: 3.1rem 0 1.68rem 0 !important;
  }
}
