/// Referencing files so intellisense would work correctly
/// <reference path="../abstracts/_variables.scss" />
/// <reference path="../abstracts/_functions.scss" />
/// <reference path="../abstracts/_mixins.scss" />
$grid-cols-tablet: 9;

.grid {
    display: grid;
    grid-template-columns: repeat($grid-cols-desktop, 1fr);
    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;

    @include for-mobile-only {
        grid-template-columns: repeat($grid-cols-mobile, 1fr);
    }

    @include for-tablet-only {
        grid-template-columns: repeat($grid-cols-tablet, 1fr);
        grid-column-gap: $grid-column-gap-s;
        grid-row-gap: $spacing-xs;
    }

    &.no-col-gap {
        grid-column-gap: 0;

        @include breakpointSuffix {
            grid-column-gap: 0 !important;
        }
    }

    &.no-row-gap {
        grid-row-gap: 0;

        @include breakpointSuffix {
            grid-row-gap: 0 !important;
        }
    }

    &--small {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 8px;
    }

    &--inline {
        @extend .grid;
        display: inline-grid;
    }

    .grid-item {
        display: flex;
        /*max-width: 100%;*/
        transition: all 300ms ease;

        a {
            height: min-content;
        }
    }

    .col-end-last {
        grid-column-end: -1;
    }

    .col-full,
    .row {
        grid-column: 1/-1;

        @include breakpointSuffix {
            grid-column: 1/-1 !important;
        }
    }
}

/*Begin forloop columns/rows*/
@for $i from 1 through $grid-cols-desktop {
    .grid {
        &.cols-#{$i} {
            grid-template-columns: repeat($i, 1fr) !important;

            @include breakpointSuffix {
                grid-template-columns: repeat($i, 1fr) !important;
            }
        }
        ///Columns
        .col-start-#{$i} {
            grid-column-start: $i;

            @include breakpointSuffix {
                grid-column-start: $i !important;
            }
        }

        .col-end-#{$i} {
            grid-column-end: $i;

            @include breakpointSuffix {
                grid-column-end: $i !important;
            }
        }

        .col-span-#{$i} {
            //Span over $i columns
            grid-column-end: span $i;

            @include breakpointSuffix {
                grid-column-end: span $i !important;
            }
        }
        ///Rows
        .row-start-#{$i} {
            grid-row-start: $i;

            @include breakpointSuffix {
                grid-row-start: $i !important;
            }
        }

        .row-end-#{$i} {
            grid-row-start: $i;

            @include breakpointSuffix {
                grid-row-start: $i !important;
            }
        }

        .row-span-#{$i} {
            grid-row-end: span $i;


            @include breakpointSuffix {
                grid-row-end: span $i !important;
            }
        }
    }
}

@include for-tablet-only {
    @for $i from $grid-cols-tablet through $grid-cols-desktop {
        .grid {
            .col-span-#{$i} {
                grid-column: 1/-1;
            }

            .col-start-#{$i} {
                grid-column-start: 1;
            }
        }
    }
}

@include for-mobile-only {
    @for $i from $grid-cols-mobile through $grid-cols-desktop {
        .grid {
            .col-span-#{$i} {
                grid-column: 1/-1;
            }

            .col-start-#{$i} {
                grid-column-start: 1;
            }
        }
    }
}

/*End forloop columns/rows*/
