/// Referencing files so intellisense would work correctly
/// <reference path="../abstracts/_variables.scss" />
/// <reference path="../abstracts/_functions.scss" />
/// <reference path="../abstracts/_mixins.scss" />


/***************
     INPUTS
***************/
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date],
input[type=datetime-local], input[type=datetime], input[type=tel], input[type=number], input[type=search], textarea {
    background-color: #fff;
    border: 1px solid $color-secondary;
    border-radius: $border-radius-s;
    outline: none;
    height: 46px;
    font-size: 16px;
    font-family: $font-opensans;
    padding: 0 24px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    caret-color: $color-primary;
    position: relative;


    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &::placeholder,
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
        color: $color-secondary;
        opacity: .5;
    }

    &:active, &:focus {
        -webkit-box-shadow: 0 0 10px 0 rgba(0,22,63,.15);
        box-shadow: 0 0 10px 0 rgba(0,22,63,.15);
        border: solid 1px $color-secondary-light-2;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

        &:disabled {
            box-shadow: none;
            transition: none;
            border: 1px solid $color-secondary;
        }
    }

    &.prepend-icon {
        padding-left: 52px !important;
        background-repeat: no-repeat;
        background-position: center left 16px;
        background-size: 20px;
    }
}

textarea {
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}

$thumbSize: 12px;
$trackHeight: 4px;
/*multi-range slider*/

.multi-range-wrapper {
    position: relative;
    user-select: none;

    div {
        &[class^="indicator-"] {
            position: absolute;
            top: -32px;
            padding: 0 4px;
            background: #00163f;
            color: white;
            font-family: "Poppins","Open Sans", sans-serif;
            font-weight: 700;
            border-radius: $border-radius-s;
            opacity: 0;
            transition: opacity 300ms ease;
            z-index: 21;
            min-width: $spacing-m;
            text-align: center;
            font-size: 14px;

            &.active {
                opacity: 1;
            }
        }

        &.indicator-min {
            border-bottom-left-radius: 0;
        }

        &.indicator-max {
            border-bottom-right-radius: 0;
        }
    }

    .range-slider-progress {
        position: absolute;
        height: $trackHeight;
        top: 0;
        background: $color-secondary;
        z-index: 20;
    }

    .range-slider-background {
        position: absolute;
        height: $trackHeight;
        left: 0;
        top: 0;
        width: 100%;
        background: $color-secondary-light-1;
        z-index: 20;
    }

    input[type=range] {
        /* Override default CSS styles */
        -webkit-appearance: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        background: transparent;
        outline: none;
        pointer-events: none;
        z-index: 21;

        &::-webkit-slider-runnable-track {
            cursor: default;
            height: 1px;
            /* Required for Samsung internet based browsers */
            outline: 0;
            -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: $thumbSize;
            height: $thumbSize;
            border-radius: $thumbSize;
            background: $color-secondary;
            cursor: pointer;
            border: none;
            pointer-events: auto;
            margin-top: -6px;
        }

        &::-moz-range-thumb {
            width: $thumbSize;
            height: $thumbSize;
            border-radius: $thumbSize;
            background: $color-secondary;
            cursor: pointer;
            border: none;
            pointer-events: auto;
        }
    }
}
