/// Referencing files so intellisense would work correctly
/// <reference path="../abstracts/_variables.scss" />
/// <reference path="../abstracts/_functions.scss" />
/// <reference path="../abstracts/_mixins.scss" />
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-sm: 24px;
$spacing-m: 32px;
$spacing-l: 48px;
$spacing-xxl-1: 64px;
$spacing-xxl-2: 96px;
$spacing-xxl-3: 128px;
$spacings: ("0":0, "xxs": 4px, "xs": 8px, "s": 16px, "sm": 24px, "m": 32px, "l": 48px, "xl": 64px, "xxl-1": 96px, "xxl-2": 128px );



.spacer {
    &-h {
        @each $name, $px in $spacings {
            &--#{$name} {
                margin-left: $px;

                @include breakpointSuffix {
                    margin-left: $px !important;
                }
            }
        }
    }

    &-v {
        @each $name, $px in $spacings {
            &--#{$name} {
                margin-top: $px;

                @include breakpointSuffix {
                    margin-top: $px !important;
                }
            }
        }
    }
}

.padding {
    @each $name, $px in $spacings {
        &-#{$name} {
            padding: $px;

            @include breakpointSuffix {
                padding: $px !important;
            }
        }
    }

    &-h {
        @each $name, $px in $spacings {
            &--#{$name} {
                padding-left: $px;
                padding-right: $px;

                @include breakpointSuffix {
                    padding-left: $px !important;
                    padding-right: $px !important;
                }
            }
        }
    }

    &-v {
        @each $name, $px in $spacings {
            &--#{$name} {
                padding-top: $px;
                padding-bottom: $px;

                @include breakpointSuffix {
                    padding-top: $px !important;
                    padding-bottom: $px !important;
                }
            }
        }
    }
}
