@import "../../abstracts/_variables.scss";
@import "../../abstracts/_mixins.scss";
@import "../../abstracts/_functions.scss";

@import "../../layout/_forms.scss";

.search-block {
    padding: $spacing-s $spacing-sm;

    @include for-mobile-only {
        padding: 0;
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

.search-block-inner {
    @include for-desktop-s-up {
        background-color: $color-text-light;
    }

    .grid-item:not(:last-of-type) {
        height: $spacing-l;
    }

    .grid {
        grid-column-gap: 0 !important;

        & .select2-container--kamernet,
        .select2-container--kamernet-checkbox {
            border-right: 1px solid $color-secondary-light-2;
        }

        .city-select-wrapper {
            .city-input {
                position: absolute;
                top: 0 !important;

                .city-dropdown {
                    &::before {
                        display: none;
                    }

                    margin-top: 0 !important;

                    input.select2-search__field {
                        height: 40px;
                        font-size: 16px;
                    }
                }
            }

            .no-match-error {
                display: none;
                top: -52px;
                right: 28px;
                line-height: 0;
                padding: 24px;
                position: absolute;
                z-index: 2;

                @include for-mobile-only {
                    right: 0;
                    width: 100%;
                }
            }
        }
    }

    @include for-mobile-only {
        .col-span-3--s {
            .select2-container--kamernet .select2-selection {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }

        .grid-item.col-span-4.select-prepend.col-span-3--s ~ .col-span-1--s {
            /*should work just fine for mobile 3+1(search)*/
            button {
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
        }

        box-shadow: none !important;

        .grid-item {
            @include box-shadow;
            border-radius: $border-radius-s;

            .btn-medium {
                border-radius: $border-radius-s !important;
            }
        }
    }
}
/***********************************/
/******** SELECTS OVERRIDES ********/
/***********************************/
.select2-selection__rendered, .value, .m2 {
    transition: all 300ms ease;
}

#select2-RentalPriceId-container {
    padding-left: 54px;
}

#select2-SurfaceId-container {
    padding-left: 52px;
}

#select2-RentalPriceId-container, #select2-SurfaceId-container {
    padding-right: 0;
}

#select2-RentalPriceId-container.select2-selection__rendered, #select2-SurfaceId-container.select2-selection__rendered,
#select2-RentalPriceId-container-mock.select2-selection__rendered, #select2-SurfaceId-container-mock.select2-selection__rendered {
    @include for-tablet-down {
        padding-left: 92px;
    }
}

span.select-prepend-icon, input.select2-search__field::placeholder {
    color: $color-text;
    opacity: 0.5;
}
@include for-tablet-down {

    #placeholder-price, #placeholder-m2 {
        padding-left: 32px;
    }
}

.select2-container--kamernet .select2-selection,
.select2-container--kamernet-bare .select2-selection,
.select2-container--kamernet-checkbox .select2-selection {
    border: 0 !important;
}

.select2-search__field {
    width: 100% !important;
    color: #00163f;
}

.search-gradient-overlay {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 70%, rgb(255, 255, 255) 80%);
}
