@charset "UTF-8";
/*@import "../icons/_icons-fallback-variables";*/
/*
    *  
    * SMALL
    *
    */
/*
    *  
    * MEDIUM
    *
    */
/*
    *  
    * LARGE
    *
    */
/*
    *  
    * XL
    *
    */
/*
    *  
    * XXL
    *
    */
/*
Burger by Joren Van Hee, http: //joren.co
MIT License (MIT)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/************ mixin to change opacity *************/
/************************************************/
/**********************************************************/
/************ WEBP background support *********************/
/* webp/no-webp classes added automatically by modernizr **/
/**********************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/**********************************************************/
/************ Background mixin ****************************/
/**********************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/* GET ICON */
.payment-card {
  height: auto;
}
.payment-card .best-choice {
  position: absolute;
  top: 16px;
  right: -16px;
  font-size: 14px;
}
.payment-card .button-wrapper {
  position: absolute;
  bottom: 0;
  padding: inherit;
  width: 100%;
  left: 0;
}

.expandable-trigger {
  border-bottom: 1px solid #00163f;
  padding-bottom: 16px;
  cursor: pointer;
  padding-right: 16px;
}

#why-premium-wrapper {
  border-bottom-left-radius: 0;
}

.text-card img:not(.invisible) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 1023px) {
  .text-title {
    font-size: 24px;
    line-height: 32px;
  }
  .container .padding-v--xxl-1 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .payment-card-wrapper {
    flex-direction: column-reverse;
    align-self: flex-start;
  }
  .payment-card-wrapper * {
    margin: 0;
  }
  .payment-card-wrapper .payment-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .payment-card-wrapper .payment-card .section-subtitle {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .payment-card-wrapper .payment-card .best-choice {
    top: -24px;
  }
  .payment-card-wrapper .payment-card:last-of-type {
    margin-bottom: 16px;
  }
  #why-premium-wrapper {
    border-radius: 0px 32px 32px 32px;
  }
}
/* FAILED PAYMENT*/
ol {
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
}

ol li {
  padding-left: 16px;
}/*# sourceMappingURL=PremiumLandlordAccountPayment.css.map */