@import "../../abstracts/_variables.scss";
@import "../../abstracts/_mixins.scss";
@import "../../abstracts/_functions.scss";
@import "../../layout/_forms.scss";

main {
    background: linear-gradient(90deg, #fff 70%, $color-secondary-light-2 50%);
    height: calc(100 * 2vh);
}


i[class*=icon] {
    vertical-align: unset;
}

.status-section {
    & .grid:not(:last-of-type) {
        border-bottom: 1px solid $color-secondary-light-1;
    }

    & .grid:not(.active) {
        color: $color-secondary-light-1;
    }
}

#modal-verify-email .card {
    max-width: 360px;
    font-size: 14px;
}

.email-preview {
    text-align: center;
    padding: 12px 0;
    color: $color-secondary-light-1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: $color-secondary-light-3;
    user-select: none;
}

.btn-back-to-dashboard-wrapper {
    position: absolute;
    bottom: 0;
}

.iDeal {
    width: 20px;
    vertical-align: middle;
    margin-left: 8px;
}

#verification-status {
    .loading {
        width: 64px;
        height: 64px;
    }
}

.verification-bank-wrapper {
    .grid-item {
        position: relative;
    }

    label {
        font-family: $font-poppins;
    }

    .tag {
        font-weight: 400;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        border: 1px solid;
        border-radius: 8px;
    }

    .select2-container--open {
        width: 100% !important;
    }

    .bank-img {
        margin-left: 8px;
        vertical-align: middle;
    }

    label[for="IsTermsAndConditionsAccepted"] + span {
        left: 0;
        top: 32px;
    }
}

#phone-number-wrapper {
    .card--small {
        padding-right: $spacing-l;
    }
}

.phone-select-wrapper {
    position: relative;

    .prefix {
        position: absolute;
        left: $spacing-s;
        z-index: 1;
        display: flex;
        height: 100%;
        align-items: center;
        user-select: none;

        .vert {
            height: 70%;
            width: 1px;
            background: #00163f;
        }
    }

    #user-phone {
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        &[type=number] {
            -moz-appearance: textfield;
        }

        text-indent: $spacing-xl;

        @include for-desktop-s-up {
            width: 100%;
        }

        @include for-mobile-only {
            width: 72vw;
        }
    }
}

@include for-tablet-down {
    main {
        background: none;
    }
}

@include for-mobile-only {
    .btn-back-to-dashboard-wrapper {
        position: relative;
        display: block;
        grid-column-end: span 4;
    }

    .page-title {
        font-size: 32px !important;
    }

    .edit-btn {
        clear: both;
    }
}
